
body{
        background: url("../images/astrology-astronomy-background-image-1169754.jpg") no-repeat center;
        background-size: cover;
        text-align: -webkit-left;
        -webkit-background-size: cover;
        height: 700px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        overflow: hidden;
    }
    .sidenav{
        margin-left: 50px;
    }

    a{
         
        font-size: 20px;
        font-family: Raleway;
        margin-right: 35px;
        text-align: right;
        text-decoration: none;
    }
      #github{
        color: white;
        margin-right: 25px;
        text-decoration: none;
        font-family: Raleway;
    }

    #LinkedIn{
        color: white;
        margin-right: 55px;
        text-decoration: none;
        font-family: Raleway;
    }

    #resume-link{
        color: white;
        font-family: Raleway;
        margin-right: 25px;
        text-decoration: none;
    }
    h1{
        color: white;
        font-family: Raleway;
        font-size: 65px;
    }
    h3{
        color: white;
        font-family: Raleway;
        font-size: 40px;

    }
    h4{
        color: white;
        font-family: Raleway;
        font-size: 60px;
        text-decoration:underline;
        
        
    }
    h4:hover{
        cursor: pointer;
        transform: rotate(1080deg)
        
    }
    
    
    
    
#main-title{
    margin-top: 215px;
    vertical-align: middle;
    padding-left: 160px;
    transform: rotate(34deg);
    font-family: Raleway;
    font-size: 12px;
    
}
.container-title{
    
    transform: rotate(-34deg);
    left: -131px;
    top: -6px;
    position: absolute;
    width: 610px;
    height: 614px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: table;
    /* transition: all 0.5s; */
    z-index: 1;
}
#projects-title{
    margin-top: 220px;
    margin-left: 45px;
    transform: rotate(34deg);
    font-family: Raleway;
}

.container-projects{
    transform: rotate(-34deg);
    left: 381px;
    top: -152px;
    position: absolute;
    width: 430px;
    height: 302px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: table;
    /* transition: all 0.5s; */
    z-index: 1;
}
.container-projects:hover{
    opacity: 0.6;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    transform: rotate(326deg)
    
}


#about-title{
    margin-top: 240px;
    margin-left: 70px;
    transform: rotate(34deg);
       
}
.container-about{
    
    transform: rotate(-34deg);
    left: 577px;
    top: 89px;
    position: absolute;
    width: 430px;
    height: 400px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: table;
    /* transition: all 0.5s; */
    z-index: 1;
}
.container-about:hover{
    
     opacity: 0.6;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    transform: rotate(326deg)
    
}

#resume-title{
    margin-top: 61px;
    margin-right: 190px;
    transform: rotate(34deg);
    
}
.container-resume{
    transform: rotate(-34deg);
    left: 766px;
    top: 430px;
    position: absolute;
    width: 430px;
    height: 282px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: table;
    /* transition: all 0.5s; */
    z-index: 1;
}
.container-resume:hover{
    
     opacity: 0.6;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    transform: rotate(326deg)
    
}

#portfolio-title{
    margin-top: 240px;
    margin-left: 50px;
    transform: rotate(34deg);
    font-family: Raleway;
    font-size: 14px;

}
.container-portfolio{
    transform: rotate(-34deg);
    left: 1054px;
    top: 40px;
    position: absolute;
    width: 430px;
    height: 380px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: table;
    /* transition: all 0.5s; */
    z-index: 1;
}
.container-portfolio:hover{
    
     opacity: 0.6;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    transform: rotate(326deg)
    
}

    